@model MyStore.Models.CreateRoleModel

<h2>Add new role</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationSummary(true, "")
        <p>Название:  @Html.EditorFor(model => model.Name)</p>
        <p><input type="submit" value="Add" /></p>
    </div>
}