@model MyStore.Models.Cart
<div>
    <span class="caption">
        <b> @Html.ActionLink("Cart", "Index", "Cart") : </b>
        @Model.Lines.Sum(x=>x.Quantity) item(s)
        @Model.Totalvalue().ToString("c") 
    </span>

</div>
